@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
}

.App {
  display: flex;
  align-items: center;

  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 60%;
  background-color: rgb(240, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

}

h2 {
  padding: 10px;
  background-color: rgb(253, 253, 105);
}

.formulario {
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
display: flex;
justify-content: center;
align-items: center;
}

.formulario input {
  padding: 10px;
  margin: 5px;
}

.formulario button {
  padding: 6px;
  margin: 5px;
  background-color: rgb(244, 247, 91);
  cursor: pointer;
}



.datos {
display: flex;
justify-content: space-around ;
flex-wrap: wrap;
}

.datos button {
  padding: 11px;
  margin: 5px;
  cursor: pointer;
}

.delete {
  background-color: rgb(255, 52, 52);
  background-image:url("./components/extras/delete-icon.png");
  background-size: cover;
  
  
}

.complete {
  background-color: rgb(105, 253, 105);
  background-image: url("./components/extras/checkmark-icon.png");
  background-size: cover;
}

.completed {
font-size: large;
padding: 15px;
margin: 10px;
text-decoration: line-through;
  background-color: rgb(205, 207, 204);

}

.incompleted {
  font-size: large;
  margin: 10px;
  padding: 15px;
  background-color: rgb(253, 253, 105);

}